* {
	font-family: 'Roboto', sans-serif;
}

nav {
	height: 53px;
	background-color: #212121;
	position: fixed;
	top: 0;
	width: 100%;
	z-index: 2;
}

a {
	text-decoration: none;
}

header {
	position: relative;
}

.menu {
	display: flex;
	padding-top: 18px;
	padding-left: 71px;
	padding-right: 40px;
	padding-bottom: 11px;
	margin: 0;
	list-style-type: none;
	justify-content: space-between;
	align-items: center;
}

.menu .menu_link {
	text-decoration: none;
	color: white;
	font-weight: 300;
}

.menu .menu_item {
	border-right: 2px dotted black;
	padding-right: 28px;
}

.subheader .subheader_official {
	font-family: 'Roboto';
	font-weight: 100;
	font-size: 13px;
	color:white;
	opacity: 0.6;
}

.subheader {
	width: 100%;
	position: absolute;
	height: 84px;
	background: rgba(0,0,0, .6);
	margin-top: 53px;
}

.subheader .subheader_logo {
	min-width: 100%;
	display:block;
	margin-top:20px;
}

.subheader .subheader_call {
	display: block;
	text-align: right;
	font-family: 'Roboto';
	font-weight: 300;
	font-size: 12px;
	color: #FFFFFF;
	margin-top: 20px;
}

.subheader .subheader_phone {
	display: block;
	margin-top: 8px;
	text-transform: uppercase;
	text-align: right;
	font-family: 'Roboto';
	font-style: normal;
	font-weight: 400;
	font-size: 22px;
	line-height: 12px;
	color: #FFFFFF;
}

.subheader .subheader_btn {
	width: 172px;
	height: 46px;
	font-weight: 400;
	font-size: 14px;
	align-items: center;
	text-align: center;
	text-transform: uppercase;
	color: #FFFFFF;
	text-shadow: 1px 1px 0px rgba(0, 0, 0, 0.21);
	background: linear-gradient(0deg, #1EACC7 0%, #4CE2FF 100%);
	box-shadow: inset 0px -3px 0px rgba(0, 0, 0, 0.12);
	border-radius: 4px;
	border: none;
	margin-top: 22px;
}

.promo {
	background:url(/src/img/bg/uber_bg.png);
	min-height: 800px;
	padding: 143px 0 21px 0;
}

.promo .promo_header {
	margin: 0;
	margin-top: 68px;
	font-weight: 900;
	font-size: 60px;
	align-items: center;
	text-align: center;
	text-transform: uppercase;
	color: #FFFFFF;
}

.promo .promo_subheader {
	margin: 0;
	font-weight: 700;
	font-size: 36px;
	align-items: center;
	text-align: center;
	text-transform: uppercase;
	color: #FFFFFF;
	margin-top:22px
}

.promo .promo_descr {
	margin: 0;
	margin-top: 16px;
	font-weight: 400;
	font-size: 18px;
	align-items: center;
	text-align: center;
	color: #FFFFFF;
}

.promo .promo_btn {
	display: block;
	margin:115px auto 0 auto;
	width: 259px;
	height: 63px;
	background: linear-gradient(0deg, #1EACC7 0%, #4CE2FF 100%);
	box-shadow: inset 0px -4px 0px rgba(0, 0, 0, 0.12);
	border-radius: 4px;
	font-weight: 400;
	font-size: 18px;
	align-items: center;
	text-align: center;
	text-transform: uppercase;
	color: #FFFFFF;
	text-shadow: 1px 1px 0px rgba(0, 0, 0, 0.21);
	border:none
}

.advantages {
	padding: 23px 0 32px 0;
}

.advantages .advantages_header {
	margin: 0 auto;
	margin-top: 0px;
	margin-bottom: 32px;
	width: 115px;
	height: 27px;
	background: #000000;
	font-weight: 400;
	font-size: 11px;
	display: flex;
	align-items: center;
	justify-content: center;
	text-align: center;
	text-transform: uppercase;
	color: #FFFFFF;
}

.advantages .advantages_name {
	margin: 0 auto;
	font-weight: 700;
	font-size: 38px;
	text-align: center;
	text-transform: uppercase;
}

.advantages .advantage_img {
	background: #1EACC7;
	width: 116px;
	height: 116px;
	border-radius:50%;
	display: flex;
	align-items:center;
	justify-content: center;
}

.advantages .advantage {
	margin: 0;
	padding-top: 49px;
	display: flex;
	justify-content: center;
	align-items:center;
}

.advantage .advantage_logotext {
	width: 371px;
	height: 150px;
	padding-left: 26px;
	font-weight: 400;
	font-size: 17px;
	line-height: 21px;
}

.advantages .advantage_text {
	font-weight: 400;
	font-size: 17px;
	line-height: 21px;
	display: flex;
	align-items: center;
	color: #1EACC7;
}

.advantages .advantage_subtext {
	font-weight: 300;
	font-size: 15px;
	line-height: 21px;
	display: flex;
	align-items: center;
	color: #202020;
}